header {
  position: absolute;
  width: 100%;
  height: 100px; }
  header nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(126, 126, 126, 0.794);
    align-items: center;
    padding: 10px; }
    @media screen and (max-width: 705px) {
      header nav {
        justify-content: center; } }
    header nav img {
      width: 100px;
      height: 100px;
      box-shadow: 6px; }
      @media screen and (max-width: 1000px) {
        header nav img {
          width: 30px;
          height: 30px; } }
    @media screen and (max-width: 705px) {
      header nav .logo {
        display: none; } }
    header nav ul {
      display: flex; }
      @media screen and (max-width: 705px) {
        header nav ul {
          flex-direction: column;
          align-items: center;
          padding: 3px; } }
      header nav ul li {
        list-style: none;
        font-size: 30px;
        padding: 6px; }
        @media screen and (max-width: 1000px) {
          header nav ul li {
            font-size: 18px; } }
        @media screen and (max-width: 705px) {
          header nav ul li {
            padding: 3px; } }
        header nav ul li:hover {
          color: white;
          transform: translate(0px, 0px);
          animation: cssAnimation_0 520ms;
          animation-fill-mode: forwards; }
          @media screen and (max-width: 705px) {
            header nav ul li:hover {
              color: white;
              animation: none; } }

@keyframes cssAnimation_0 {
  from {
    transform: translate(0px, 0px); }
  to {
    transform: translate(0px, 7px) scale(1.3, 1.3); } }
        header nav ul li a {
          font-family: 'Cormorant SC', serif;
          text-decoration: none;
          color: white;
          margin: 8px; }
          header nav ul li a:hover {
            color: white; }

.banner {
  word-wrap: break-word;
  background-image: url(../img/img-fondo-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); }
  .banner p {
    margin-top: 10%;
    color: white;
    font-size: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.619);
    border-radius: 10px; }
    @media screen and (max-width: 1000px) {
      .banner p {
        margin: 15%;
        padding: 10px;
        font-size: 25px; } }
    @media screen and (max-width: 705px) {
      .banner p {
        margin-top: 70%;
        font-size: 20px; } }

#my-name {
  margin: 12%;
  font-family: 'Cormorant SC', serif;
  font-size: 120px;
  font-weight: 900;
  color: black;
  text-align: center; }
  @media screen and (max-width: 705px) {
    #my-name {
      margin-top: 100%;
      font-size: 50px; } }

.habilidades {
  margin-top: 250px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img6";
  gap: 6px; }
  .habilidades div {
    margin: auto;
    text-align: center;
    font-size: 25px;
    color: white; }
    .habilidades div p {
      background-color: black;
      border-radius: 5px; }
      @media screen and (max-width: 705px) {
        .habilidades div p {
          font-size: 15px; } }
  .habilidades img {
    height: 160px; }
    @media screen and (max-width: 705px) {
      .habilidades img {
        height: 100px; } }
  @media screen and (max-width: 705px) {
    .habilidades {
      display: flex;
      flex-wrap: wrap; } }

.item1 {
  grid-area: img1; }

.item2 {
  grid-area: img2; }

.item3 {
  grid-area: img3; }

.item4 {
  grid-area: img4; }

.item5 {
  grid-area: img5; }

.item6 {
  grid-area: img6; }

.item7 {
  grid-area: img7; }

.item8 {
  grid-area: img8; }

@media screen and (max-width: 1000px) {
  .sizeimg {
    max-width: 300px;
    padding-top: 20px; } }

.alineado {
  margin-top: 15%;
  height: 100vh; }
  @media screen and (max-width: 705px) {
    .alineado {
      margin-top: 70%;
      max-width: auto; } }

.container {
  margin-top: 20%;
  padding-left: 40px; }
  @media screen and (max-width: 705px) {
    .container {
      margin-top: 70%; } }

.imgcontacto {
  padding: 20px;
  width: 150px;
  height: 150px; }
  @media screen and (max-width: 705px) {
    .imgcontacto {
      width: 100px;
      height: 100px; } }

.altura {
  height: 60vh; }

.pie {
  background-color: #757575; }

.about {
  height: 70vh;
  color: white;
  font-size: 80px;
  text-align: center;
  text-decoration: underline; }
  @media screen and (max-width: 1000px) {
    .about {
      font-size: 35px; } }
  @media screen and (max-width: 705px) {
    .about {
      font-size: 25px; } }
