// mapa
$breakpoints: (
    lg:1000px,
    sm:765px
);
// mixin
@mixin mediaquery($breakpoint) {
    @media screen and (max-width: map-get($breakpoints , $breakpoint)) {
        @content;
    }
}
.container{
    margin-top: 20%;
    padding-left: 40px;
    @include mediaquery(sm){
        margin-top: 70%;
      
    }
}

.imgcontacto{
    padding: 20px;
    width: 150px;
    height: 150px;

    @include mediaquery(sm){
       
        width: 100px;
        height: 100px;
    }
}

.altura{
    height: 60vh;
}