// mapa
$breakpoints: (
    lg:1000px,
    sm:765px
);
// mixin
@mixin mediaquery($breakpoint) {
    @media screen and (max-width: map-get($breakpoints , $breakpoint)) {
        @content;
    }
}



.sizeimg{
    @include mediaquery(lg){
        max-width: 250px;
        padding-bottom:30px ;
    }
}

.alineado{
   
    height: 90vh;
    
    @include mediaquery(sm){
      
       
    }
 }