header {
    position:absolute;
    width: 100%;
    height: 100px;
    nav {

        display: flex;
        justify-content: space-between;
        background-color: rgba(126, 126, 126, 0.794);
        align-items: center;
        padding: 10px;

        img {
            width: 100px;
            height: 100px;
            box-shadow: 6px;
        
        }

        ul {
            display: flex;
            li {
                list-style: none;
                font-size: 30px;
                padding: 6px;

                &:hover {
                    color: white;
                    transform: translate(0px, 0px);
                    animation: cssAnimation_0 520ms ;
                    animation-fill-mode: forwards;
                  }
                  
                  @keyframes cssAnimation_0 {
                      from {
                        transform: translate(0px, 0px);
                      }
                    
                      to {
                        transform: translate(0px, 7px) scale(1.3, 1.3);
                      }
                    }
                    
                    
                a {
                    font-family: 'Cormorant SC', serif;
                    text-decoration: none;
                    color: white;
                    margin: 8px;

                    &:hover{
                        color: white;
                    } 
                 
                }
            
            }
        }
        
        
    }
    

}

.banner {
    word-wrap: break-word;
    background-image: url(/img/img-fondo-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  
    p{
        margin-top: 10%;
        color: white;
        font-size:50px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.619);
        border-radius: 10px;
           
    }
    .about{
        height: 70vh;
        color: white;
        font-size: 80px;
        text-align: center;
        text-decoration: underline;
        
    }
    
}

#my-name{
    margin: 12%;
    font-family: 'Cormorant SC', serif;
    font-size: 120px;
    font-weight: 900;
    color: black;
    text-align: center;
}



.habilidades {
    margin-top: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "img1 img2 img3"
                         "img4 img5 img6"
                         "img7 img8 img6";
   gap: 6px;

   div{
    margin: auto;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    p{
        background-color: black;
        border-radius: 5px;
    }
    img {
        height: 160px;
      }
      
   
 }
}

.item1 {
    grid-area: img1;
}

.item2 {
    grid-area: img2;
}

.item3 {
    grid-area: img3;
}

.item4 {
    grid-area: img4;
}

.item5 {
    grid-area: img5;
}

.item6 {
    grid-area: img6;
}

.item7 {
    grid-area: img7;
}

.item8 {
    grid-area: img8;
   
}




.contacto{
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 25%;
    flex-wrap: wrap;

    li{
        list-style: none;
    
    }
}
.imgcontacto{
    width: 150px;
    height: 150px;
}

.alineado{
    margin-top: 15%;
    height: 100vh;
 }
 .pie{
    background-color: rgb(117, 117, 117);
}
