
/* -------MediaQuery------ */

@media screen and (max-width:1000px){
    
    
    header nav ul li {
        font-size: 18px;
       
    
    }
    .sizeimg{
        max-width: 300px;
        padding-top:20px ;
     
    }
 
      
    
.about{

    font-size: 35px;

}

.banner p{
    margin:15%;
    padding: 10px;
    font-size:25px;
    
}

    
   
}

@media screen and (max-width:705px){
    

    li:hover {
        color: white;
        
        animation: none
        
      }
    .contacto{
      
        margin-top: 70%;
       
    }

    .imgcontacto{
        margin: 13px;
        width: 100px;
        height: 100px;
    }
    
    .logo{
        display: none;
    }
    
    header nav ul li {
        
        font-size: 18px;
        padding: 3px;
    
    }
    
    header nav img {
        width: 30px;
        height: 30px;
        box-shadow: 6px;
    
    }
    header nav {
        display: flex;
        flex-direction: column;
        padding: 3px;
    }
   
    #my-name {
        margin-top: 100%;
        font-family: 'Cormorant SC', serif;
        font-size: 50px;
        font-weight: 900;
        color: black;
        text-align: center;

    }

    .habilidades {
      display: flex;
      flex-wrap: wrap;
    }

    .habilidades div img {
        height: 100px;
      }
      
      header nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .habilidades div p{
       font-size: 15px;

    }
    
    .about{

        font-size: 25px;
    
    }
    
    .banner p{
        margin-top: 70%;
        
        font-size:20px;
        
    }
    .alineado{
        margin-top: 70%;
        max-width: auto
        ;
    }
    
        

}



